pillow>=10.0.0
tzlocal
CairoSVG>=2.6.0
ephem
fastjsonschema>=2.14.4
geopy
ipinfo
gpiozero==1.6.2
noaa-sdk>=0.1.18
python-tsl2591==0.2.0
regex>=2020.4.4
APScheduler
lastversion>=1.1.6
nameparser>=1.0.6
packaging>=25.0
iso6709
paho-mqtt>=2.1.0
rich
richcolorlog==1.44.12
RGBMatrixEmulator
tk
diskcache
backoff
env-canada>=0.12.2
httpx==0.28.1
watchdog
adafruit-blinka
Adafruit-Blinka-Raspberry-Pi5-Piomatter
flask
requests>=2.31
beautifulsoup4>=4.12
