tzlocal
cairoSVG>=2.6.0
ephem
fastjsonschema>=2.14.4
geopy
ipinfo
gpiozero
noaa-sdk>=0.1.18
python-tsl2591==0.2.0
regex>=2020.4.4
APScheduler
lastversion>=1.1.6
nameparser>=1.0.6
pillow==12.1.0
dbus-python
iso6709
packaging>=25.0
paho-mqtt>=2.1.0
rich
richcolorlog==1.44.12
RGBMatrixEmulator
tk
diskcache
backoff
bottleneck==1.4.2
pandas==2.2.3
env-canada>=0.12.2
httpx==0.28.1
watchdog
flask
requests>=2.31
beautifulsoup4>=4.12
